.imgfondoservicios{
    height: 50vh;
    background-image: url(../assets/img/imagenfondonservicios.jpg);
    background-size: cover;
    background-position: center;
    display: map-get($map-flex, flex);
    flex-wrap: map-get($map-flex, wrap);
    justify-content: map-get($map-flex ,center);
    align-items: map-get($map-flex, center);
    .tituloservicios{
        font-size: 3rem;
        font-weight: 500;
        background-color: $bg-titulo-serv;
    }
}
.tarjetaservicios{
    width: $w-tarjetas-serv;
    box-shadow: 0px 0px 37px -7px $tarj-box-shadow-serv;
}
.card{
    color: white;
    background-color: rgba(255, 228, 196, 0.452);
    box-shadow: 0px 0px 37px -7px $tarj-box-shadow;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 600px;
}