$w-logo: 180px;
$bg-general: #000000;
$bg-img-index: #ffffff42;
$w-tarjetas: 300px;
$tarj-box-shadow: #ffffffe0;
$w-tarjetas-serv: 350px;
$bg-titulo-serv: #ffffff80;
$tarj-box-shadow-serv:  #ffd9007a;
$iconos-color: #ffffff;
$iconos-font: 50px;
$iconos-insu: 30px;

$map-flex: (
    flex: flex,
    center: center,
    wrap: wrap,
)
